<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"><html lang="en">
<head>
    <script>
        function goBack() {
            history.back()
        }
    </script>
    <meta charset="UTF-8">
    <title>Add Students</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<br>
<br>
<div class="container">
    <div class = "row">
        <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center" >
            <h2>Sorry, you do not have permission to view this page.</h2>
            <button onclick="goBack()"
                    class = "btn btn-danger">
                Back
            </button>
        </div>

    </div>

</div>

</body>
</html>